.App {
  text-align: center;
}

.container {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  min-height: 80vh;

}

.result-item, .history-item {
  display: flex;
  padding: 0 10px;
}
.result-item div, .history-item div {
  padding: 5px;
}
.generate {
  text-align: center;
}
input {
  margin: 0 5px;
}
.generate, .history, .result {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px;
}
.history {
  border-right: 1px solid #000;
}