.App {
  text-align: center;
  background-color: #070030;
  color: #bed7ff;
  margin:0;
  padding-top: 0px;
  height: 100vh;
}
h1 {
  margin: 0;
  padding: 20px;
  
  }
.container {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 80vh;
}

.result-item, .history-item {
  display: flex;
  padding: 0 10px;
}
.result-item div, .history-item div {
  padding: 5px;
}
input {
  margin: 0 5px;
}
.generate, .history, .result {
  padding: 10px;
}
.history, .result {
  border-top: 2px solid #bed7ff;
}
.content {
  border: 2px solid #bed7ff;
  border-radius: 10px;
}
.content, .void {
  height: inherit;
  display: flex;
  flex-direction: column;
}
#history {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: auto;
}